<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Editar</title>  
    {% load static %}  
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>  
</head>  
<body>  
 
  <div class="form-group row">  
    <label class="col-sm-1 col-form-label"></label>  
    <div class="col-sm-4">  
    <h3>Actualizar Datos</h3>  
    </div>  
  </div> 
  <br> 
    <div class="container">  
      <div class="form-group row">  
        <label class="col-sm-2 col-form-label">Alumno Id:</label>  
        <div class="col-sm-4">  
            <input type="text" name="aid" id="id_aid" required maxlength="20" value="{{ alumno.id }}" readonly/>  
        </div>  
      </div> 
      <form method="POST" class="post-form" action="/update/{{alumno.id}}">  
        {% csrf_token %}  

    
     
  <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Nombre:</label>  
    <div class="col-sm-4">  
        <input type="text" name="s_nombre" id="s_nombre" required maxlength="100" value="{{ alumno.s_nombre }}" />  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Direccion:</label>  
    <div class="col-sm-4">  
        <input type="text" name="s_direccion" id="s_direccion" required maxlength="254" value="{{ alumno.s_direccion }}" />  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Telefono:</label>  
    <div class="col-sm-4">  
        <input type="text" name="i_telefono" id="i_telefono" required maxlength="15" value="{{alumno.i_telefono }}" />  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-1 col-form-label"></label>  
    <div class="col-sm-4">  
    <button type="submit" class="btn btn-success">Actualizar</button>  
    </div>  
  </div>  
    </div>  
</form>  
</body>  
</html>  