<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Alumno</title>  
    {% load static %}  
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>  
</head>  
<body>  
<form method="POST" class="post-form" action="/alu">  
        {% csrf_token %}  
    <div class="container">  
<br>  
    <div class="form-group row">  
    <label class="col-sm-1 col-form-label"></label>  
    <div class="col-sm-4">  
        <h3>Nuevo Registro</h3>  
    </div>  
  </div>  
  <!--  <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Id:</label>  
    <div class="col-sm-4">  
      {{ form.id }}  
    </div>  
  </div>  
  -->
  <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Nombre :</label>  
    <div class="col-sm-4">  
      {{ form.s_nombre }}  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Direccion:</label>  
    <div class="col-sm-4">  
      {{ form.s_direccion }}  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Telefono:</label>  
    <div class="col-sm-4">  
      {{ form.i_telefono }}  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-1 col-form-label"></label>  
    <div class="col-sm-4">  
    <button type="submit" class="btn btn-primary">Crear</button>  
    </div>  
  </div>  
    </div>  
</form>  
</body>  
</html>  