<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Employee Records</title>  
     {% load static %}  
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>  
</head>  
<body>  
<table class="table table-striped table-bordered table-sm">  
    <thead class="thead-dark">  
    <tr>  
        <th>Alumno ID</th>  
        <th>Alumno Nombre</th>  
        <th>Alumno Direccion</th>  
        <th>Alumno Telefono</th>
    </tr>  
    </thead>  
    <tbody>  
{% for alumno in alumnos %}  
    <tr>  
        <td>{{ alumno.id }}</td>  
        <td>{{ alumno.s_nombre }}</td>  
        <td>{{ alumno.s_direccion }}</td>  
        <td>{{ alumno.i_telefono }}</td>  
        <td>  
            <a href="/edit/{{ alumno.id }}"><span class="glyphicon glyphicon-pencil" >Editar</span></a>  
            <a href="/delete/{{ alumno.id }}">Eliminar</a>  
        </td>  
    </tr>  
{% endfor %}  
    </tbody>  
</table>  
<br>  
<br>  
<center><a href="/alu" class="btn btn-primary">Agregar Nuevo</a></center>  
</body>  
</html>  